body {
background-color: rgb(58, 172, 108);
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.intro {
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 45px;
  text-decoration: underline;
}

img {
  padding: 20px;
  margin: auto;
  width: 30%;
  display: block;
}

.nameList li {
  font-weight: bold;
  font-size: 45px;
}

.nameList p {
  font-style: italic;
} 